<html class="dark">
  <body
    class="bg-white text-black dark:bg-black dark:text-white min-h-screen flex items-center justify-center"
  >
    <h1 class="text-4xl font-bold">¿Modo oscuro activo?</h1>
  </body>
</html>
