---
interface Button {
  href: string;
  label: string;
  svg: string; // SVG inline o componente SVG
  class: string;
  download?: boolean;
}

const { actions } = Astro.props;

const buttons: Button[] = actions;
---

<div class="flex flex-wrap gap-5 justify-center sm:justify-start items-center flex-row mt-8">
  {
    buttons.map((btn) => (
      <a
        href={btn.href}
        target="_blank"
        rel="noopener noreferrer"
        download={btn.download ? btn.download : false}
        class={`${btn.class} text-md dark:text-white px-4 py-2 rounded-lg bg-black/2 dark:bg-white/5 backdrop-blur-md transition-colors duration-300 border border-black/10 dark:border-white/10 flex items-center gap-2 hover:bg-black/5 dark:hover:bg-white/10`}
      >
        <span set:html={btn.svg} />
        {btn.label}
      </a>
    ))
  }
</div>