<div class="hidden sm:flex self-center min-h-[15rem] sm:min-h-[25rem] sm:min-w-[15rem] text-black/25 dark:text-[rgb(226,226,226)] text-base py-2 px-4 rounded-lg bg-black/3 dark:bg-white/5 backdrop-blur-md transition-colors duration-300 border border-black/7 dark:border-white/10 mb-8 justify-center items-center">
  ...
</div>