---
import ProjectsItem from "./ProjectsItem.astro";
import es from '../i18n/es.ts';

interface Projects {
  title: string;
  description: string;
  demo?: string;
  github: string;
  technologies: string[];
  image: string;
}

const { projects } = Astro.props;

const PROJECTS: Projects[] = projects;
const SIZE = PROJECTS.length;
const CLASSNAME = SIZE > 2 ? "flex-nowrap" : "flex-wrap";
---

<div class=`flex flex-row ${CLASSNAME} gap-5 justify-center`>
  {PROJECTS.map((project) => (
    <ProjectsItem {...project}/>
  ))
  }
</div>
