---
---

<style>
  .status-work {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>

<div class="status-work">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#00ff2d" viewBox="0 0 24 24">
    <path d="M12 2a10 10 0 1 0 0 20 10 10 0 1 0 0-20"/>
  </svg>
  Available to work
</div>
