---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Background from "../components/Background.astro";
---

<!doctype html>
<html lang="en" class="dark transition-colors">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body
    class="bg-white text-black dark:bg-black dark:text-white flex flex-col justify-center items-center relative"
  >
    <Background />
    <Header />
    <slot />
  </body>
</html>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
